<!DOCTYPE html>
<html lang="en">

<head>
    <title>Education for Life</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<style>
	h2    {	  
      font-size:28px;
	  color:White ;
	  margin-left: 60px;
	  
	}

	p	  {
		font-size:20px;
		color:White;
		margin-left: 60px;
		margin-right: 60px;
	}

	h1 {
		padding : 15px;
	}

	.nav-item {
		padding : 5px;
		font-size : 18px;
	}
</style>

<body>
	<div>
	<h1>Education for Life 👦👧👦👧</h1>
	</div>
   
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">  
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutme">About</a>
        </li>
       
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Donation</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="yuva">มูลนิธิยุวพัฒน์</a>
        <a class="dropdown-item" href="edf">มูลนิธิกองทุนการศึกษาเพื่อการพัฒนา (EDF)</a>
       
      </div>
    </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutme">Contact us</a>
        </li>
        
      </ul>
    </nav>
	
	
	<div id="demo" class="carousel slide" data-ride="carousel">

 
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="" data-toggle="tooltip" data-placement="top"   role="button" target="_blank"><img src="../public/images/txr.jpg" alt="PIC3" width="100%" height="400"></a>
        </div>
        <div class="carousel-item">
          <a href="" data-toggle="tooltip" data-placement="top" role="button" target="_blank"><img src="../public/images/tar.jpg" alt="PIC4" width="100%" height="400"></a>
        </div>
      </div>
  </div>
	
	
	 <div style ="background-color:#5bcaf5"><table>
	 <tbody>
	 <tr>
	 <td>
	 <h2>มูลนิธิยุวพัฒน์ให้ทุนการศึกษา เพื่ออนาคตเด็กไทย</h2><br>
	 <p>มูลนิธิยุวพัฒน์ ให้ทุนการศึกษากับเด็กที่ขาดโอกาส เพราะเราเชื่อว่าการศึกษา คือ รากฐานของการพัฒนาและเป็นเครื่องมือช่วยนำพาชีวิตให้ดีขึ้น มูลนิธิฯ จึงทุ่มเทให้กับการสร้างโอกาสและช่วยเหลือเด็กขาด
	 โอกาสให้ได้รับการศึกษาอย่างต่อเนื่องจนจบชั้น ม.6 หรือ ปวช.3 ทุนการศึกษาที่ท่านร่วมบริจาค คือ การมอบอนาคตให้แก่เด็กขาดโอกาส โดยท่านสามารถบริจาคได้ทั้งแบบครั้งคราว หรือบริจาคแบบต่อเนื่องรายเดือน
	 ด้วยความช่วยเหลือด้านทุนการศึกษาจากท่านจะทำให้เด็กๆ เหล่านั้น ได้รับโอกาสศึกษาเล่าเรียนและพัฒนาศักยภาพของตนเองไปสู่การเป็นพลเมืองที่มีคุณภาพ </p>
	 </td>
	 <td><img src ="../public/images/gp-student.png"></td>
	 </tr>
	 </tbody>
	 </table>
	 </div>
	 
	 <div style ="background-color:gray"><table>
	 <tbody>
	 <tr>
	 <td>
	 <h2>โครงการร้อยพลังการศึกษา</h2><br>
	 <p>หนึ่งในโครงการพัฒนาเยาวชน โดยมูลนิธิยุวพัฒน์และภาคีเครือข่ายการศึกษาผ่านเครื่องมือ นวัตกรรม ความรู้และความเชี่ยวชาญของแต่ละภาคี ในการทำงานร่วมกับโรงเรียนที่สมัครใจ
	 มีความต้องการและพร้อมพัฒนาคุณภาพการเรียนการสอน เพื่อลดปัญหาความเหลื่อมล้ำและสร้างโอกาสความเท่าเทียมทางการศึกษา โดยมีเป้าหมายในการพัฒนาเยาวชนขาดโอกาสใน 100 โรงเรียนทั่วประเทศ</p>
	 </td>
	 <td><img src ="../public/images/โครง2.JPG"></td>
	 </tr>
	 </tbody>
	 </table>
	 </div>
	 <div style ="background-color:	#BDB76B"><table>
	 <tbody>
	 <tr>
	 <td>
	 <h2>โครงการทุนการศึกษามูลนิธิEDF</h2><br>
	 <p>ในปัจจุบันประเทศไทยมีจำนวนผู้พิการมากกว่า 2ล้านคน โดยมีทั้งผู้พิการแต่กำเนิด และผู้พิการจากสาเหตุอื่นๆเช่นการพิการจากอุบัติเหตุเป็นต้น
	 จากการดำเนินโครงการทุนการศึกษาเพื่อเด็กยากจนในพื้นที่ชนบทห่างไกลของมูลนิธิEDF ตั้งแต่ปี 2531 เราพบว่ามีเด็กพิการเป็นจำนวนมากที่มีความพิการด้านร่างกายเพียงบางส่วน 
	 แต่ยังมีความสามารถในการสื่อสาร ความเข้าใจ และสามารถเรียนหนังสือได้ แต่เนื่องจากการขาดความรู้ความเข้าใจของผู้ปกครอง และการขาดการยอมรับจากชุมชน ทำให้เด็กๆเหล่านี้ถูกเก็บตัวอยู่แต่ในบ้าน 
	 ไม่มีโอกาสได้เรียนหนังสือ หรือเข้าสังคมร่วมกับคนปกติ ทำให้เด็กๆเหล่านี้ต้องขาดโอกาสในการพัฒนาการทางด้านร่างกาย และจิตใจ</p>
	 </td>
	 <td><img src ="../public/images/พิการ.jpg"></td>
	 </tr>
	 </tbody>
	 </table>
	 </div>

</body>


</html>